.byte-pointer-events-auto{
  pointer-events: auto;
}

.byte-invisible{
  visibility: hidden;
}

.byte-absolute{
  position: absolute;
}

.byte-relative{
  position: relative;
}

.byte-inset-0{
  inset: 0px;
}

.byte-left-0{
  left: 0px;
}

.byte-z-10{
  z-index: 10;
}

.byte-z-\[99999999999999999999\]{
  z-index: 99999999999999999999;
}

.byte-z-\[9999999999999999999\]{
  z-index: 9999999999999999999;
}

.byte-mx-0{
  margin-left: 0px;
  margin-right: 0px;
}

.byte-mx-0\.5{
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.byte-mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.byte-mx-1\.5{
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

.-byte-ml-1{
  margin-left: -0.25rem;
}

.byte-ml-0{
  margin-left: 0px;
}

.byte-mr-0{
  margin-right: 0px;
}

.byte-mr-0\.5{
  margin-right: 0.125rem;
}

.byte-mt-3{
  margin-top: 0.75rem;
}

.byte-line-clamp-1{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.byte-flex{
  display: flex;
}

.byte-hidden{
  display: none;
}

.byte-h-0{
  height: 0px;
}

.byte-h-6{
  height: 1.5rem;
}

.byte-min-h-\[24px\]{
  min-height: 24px;
}

.byte-w-fit{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.byte-w-full{
  width: 100%;
}

.byte-min-w-0{
  min-width: 0px;
}

.byte-min-w-\[50px\]{
  min-width: 50px;
}

.byte-max-w-full{
  max-width: 100%;
}

.byte-flex-1{
  flex: 1 1 0%;
}

@-webkit-keyframes byte-spin{
  to{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes byte-spin{
  to{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.byte-animate-spin{
  -webkit-animation: byte-spin 1s linear infinite;
          animation: byte-spin 1s linear infinite;
}

.byte-cursor-pointer{
  cursor: pointer;
}

.byte-cursor-text{
  cursor: text;
}

.byte-flex-row{
  flex-direction: row;
}

.byte-flex-col{
  flex-direction: column;
}

.byte-flex-wrap{
  flex-wrap: wrap;
}

.byte-items-center{
  align-items: center;
}

.byte-justify-center{
  justify-content: center;
}

.byte-gap-0{
  gap: 0px;
}

.byte-gap-0\.5{
  gap: 0.125rem;
}

.byte-gap-1{
  gap: 0.25rem;
}

.byte-gap-2{
  gap: 0.5rem;
}

.byte-self-center{
  align-self: center;
}

.byte-overflow-hidden{
  overflow: hidden;
}

.byte-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.byte-whitespace-pre{
  white-space: pre;
}

.byte-rounded{
  border-radius: 0.25rem;
}

.byte-rounded-lg{
  border-radius: 0.5rem;
}

.byte-border{
  border-width: 1px;
}

.byte-border-t{
  border-top-width: 1px;
}

.byte-border-stone-100{
  --tw-border-opacity: 1;
  border-color: rgb(245 245 244 / var(--tw-border-opacity));
}

.byte-border-stone-200{
  --tw-border-opacity: 1;
  border-color: rgb(231 229 228 / var(--tw-border-opacity));
}

.byte-border-y-white{
  --tw-border-opacity: 1;
  border-top-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.byte-bg-\[\#f0f0f0\]{
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity));
}

.byte-bg-black\/25{
  background-color: rgb(0 0 0 / 0.25);
}

.byte-bg-black\/5{
  background-color: rgb(0 0 0 / 0.05);
}

.byte-bg-gray-400\/10{
  background-color: rgb(156 163 175 / 0.1);
}

.byte-bg-green-200{
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity));
}

.byte-bg-red-200{
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}

.byte-bg-sky-100{
  --tw-bg-opacity: 1;
  background-color: rgb(224 242 254 / var(--tw-bg-opacity));
}

.byte-bg-stone-200{
  --tw-bg-opacity: 1;
  background-color: rgb(231 229 228 / var(--tw-bg-opacity));
}

.byte-bg-transparent{
  background-color: transparent;
}

.byte-bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.byte-p-1{
  padding: 0.25rem;
}

.byte-p-2{
  padding: 0.5rem;
}

.byte-px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.byte-px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.byte-py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.byte-py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.byte-py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.byte-pl-5{
  padding-left: 1.25rem;
}

.byte-pr-2{
  padding-right: 0.5rem;
}

.byte-pt-3{
  padding-top: 0.75rem;
}

.byte-text-center{
  text-align: center;
}

.byte-text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.byte-text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.byte-font-bold{
  font-weight: 700;
}

.byte-text-black\/20{
  color: rgb(0 0 0 / 0.2);
}

.byte-text-black\/25{
  color: rgb(0 0 0 / 0.25);
}

.byte-text-black\/50{
  color: rgb(0 0 0 / 0.5);
}

.byte-opacity-0{
  opacity: 0;
}

.byte-opacity-100{
  opacity: 1;
}

.byte-opacity-40{
  opacity: 0.4;
}

.byte-opacity-60{
  opacity: 0.6;
}

.byte-opacity-80{
  opacity: 0.8;
}

.byte-shadow-menu{
  --tw-shadow: 0 6px 16px 0 rgba(0,0,0,0.08), 0 3px 6px -4px rgba(0,0,0,0.12), 0 9px 28px 8px rgba(0,0,0,0.05);
  --tw-shadow-colored: 0 6px 16px 0 var(--tw-shadow-color), 0 3px 6px -4px var(--tw-shadow-color), 0 9px 28px 8px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.byte-outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.byte-ring-1{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.byte-ring-orange-400{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(251 146 60 / var(--tw-ring-opacity));
}

.byte-transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

*{
  border-style: solid;
  border-width: 0px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button{
  all:unset;
  cursor: pointer;
  display: flex;
}

input{
  all:unset;
}

.focus-within\:byte-ring-1:focus-within{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus-within\:byte-ring-blue-400:focus-within{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(96 165 250 / var(--tw-ring-opacity));
}

.hover\:byte-opacity-100:hover{
  opacity: 1;
}

.focus\:byte-ring-1:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:byte-ring-blue-400:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(96 165 250 / var(--tw-ring-opacity));
}